<div class="modal-header">
  <button ng-if="modal.dismissable" type="button" ng-click="$dismiss()" class="close">&times;</button>
  <h4 ng-if="modal.title" ng-bind="modal.title" class="modal-title"></h4>
</div>
<div class="modal-body">
  <h4>Title</h4>
  <form novalidate>
    <input class="caption-input" ng-model="caption" type="text">
    <h4>Image url</h4>
    <input class="url-input" ng-model="url" type="text">
    <img ng-src="{{url}}">
    <div class="modal-footer">
      <button ng-disabled="!url || !caption" ng-repeat="button in modal.buttons" ng-class="button.classes" ng-click="button.click($event, url, caption)" ng-bind="button.text" class="btn"></button>
    </div>
  </form>
</div>

