<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
  <div class="container">
    <h1 id="logo">Linkterest</h1>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-lg-2 col-lg-offset-5">
      <button class="btn btn-lg btn-success openModal" ng-click="openImageModal()" ng-hide="!isLoggedIn()">Pin an Image
        <i class="fa fa-external-link"></i>
      </button>
    </div>
  <div class="row">
    <div class="col-lg-12" ng-cloak>
      <div masonry>
        <div class="masonry-brick" ng-repeat="brick in bricks">
            <span id="remove" ng-click="deleteImage(brick._id)">
            <i class="fa fa-remove"></i>
            </span>
            <img ng-src="{{brick.url}}" alt="A masonry brick">
            <h4 class="caption">{{brick.caption}}</h4>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>


<footer class="footer">
  <div class="container">
      <p>Free Code Camp Basejump #5 |
        <a href="https://twitter.com/umgauper">@umgauper</a> |
        <a href="https://github.com/umgauper/linkterest">Issues</a></p>
  </div>
</footer>
